absl-py==0.7.1
aiohttp==4.0.0a0
aiohttp-devtools==0.11
aiohttp-jinja2==1.1.0
annoy==1.16.0
ansi2html==1.5.2
asn1crypto==0.24.0
astor==0.8.0
astroid==2.1.0
async-timeout==3.0.1
asyncssh==1.15.1
atari-py==0.1.7
atomicwrites==1.3.0
attrs==18.2.0
backcall==0.1.0
bleach==3.1.0
box2d-py==2.3.8
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
colorama==0.4.1
conda==4.6.14
cryptography==2.4.2
cycler==0.10.0
Cython==0.29.6
dask==1.1.0
decorator==4.3.2
defusedxml==0.5.0
dm-control==0.0.0
dm-env==1.1
entrypoints==0.3
enum34==1.1.6
filelock==3.0.10
flann==1.9.1
flatbuffers==1.10
funcsigs==1.0.2
future==0.17.1
futures==3.1.1
gast==0.2.2
gin-config==0.2.1
glfw==1.7.0
glog==0.3.1
google-pasta==0.1.7
gpflow==1.3.0
-e git+git@github.com:ssydasheng/GPflow-Slim.git@223b9e30e8a7969496a3a53acd3a39835f5a3f8b#egg=gpflowSlim&subdirectory=../../GPflow-Slim
gpustat-web==0.1.0
greenlet==0.4.15
grpcio==1.21.1
gym==0.12.1
gym-maze==0.4
-e git+git@github.com:hiwonjoon/gym-miniworld.git@569559eeaf2061d1bac20c874b92f82273542c0f#egg=gym_miniworld&subdirectory=../../../submodules/gym-miniworld
h5py==2.9.0
idna==2.8
idna-ssl==1.1.0
imageio==2.4.1
imgcat==0.3.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
jedi==0.13.2
Jinja2==2.10
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lockfile==0.12.2
lxml==4.3.0
Markdown==3.1.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
more-itertools==6.0.0
moviepy==0.2.3.5
mpi4py==3.0.2
mpmath==1.1.0
msgpack==0.6.1
mujoco-py==1.50.1.68
multidict==4.5.2
multipledispatch==0.6.0
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.2
ngt==1.5.1
notebook==5.7.8
numpy==1.16.4
opencv-python==4.1.0.25
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.2
pbr==5.1.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.2.0
pluggy==0.9.0
portalocker==1.4.0
prometheus-client==0.6.0
prompt-toolkit==2.0.8
protobuf==3.8.0
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pybullet==2.4.2
pycosat==0.6.3
pycparser==2.19
pygame==2.0.0.dev3
pyglet==1.3.2
Pygments==2.3.1
pylint==2.2.2
-e git+git@github.com:hiwonjoon/pymaze.git@4aa194686ecc43bd6e43145ef1a91047a420a12a#egg=pymaze&subdirectory=../../../submodules/pymaze
pynvim==0.3.2
pynvml==8.0.1
PyOpenGL==3.1.0
pyOpenSSL==18.0.0
pyparsing==2.3.1
pyrsistent==0.14.11
PySocks==1.6.8
pytest==4.3.0
python-dateutil==2.7.5
python-gflags==3.1.2
pytz==2019.1
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==18.0.1
qtconsole==4.4.3
ray==0.6.4
redis==3.2.0
requests==2.21.0
robosuite==0.1.0
ruamel-yaml==0.15.46
scikit-image==0.14.2
scikit-learn==0.21.2
scipy==1.2.0
seaborn==0.8.1
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
sympy==1.4
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
tensorflow-probability==0.7.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tf-video-summary==0.1.0
toolz==0.9.0
tornado==6.0.2
tqdm==4.30.0
traitlets==4.3.2
typed-ast==1.2.0
typing==3.6.6
typing-extensions==3.7.2
urllib3==1.24.1
watchgod==0.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.4.2
wrapt==1.11.1
xlrd==1.2.0
xvfbwrapper==0.2.9
yarl==1.3.0
